<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Organizations</title>
</head>
<body>
<h1>Organizations</h1>
<p>
  Организации по районам:
  <p>
    Пример
    <a href="/organizations/1">/organizations/1</a>
  </p>
</p>
<p>
  Фильтры по товарам\услугам:
  <p>
    Пример: <a href="/products?organization=1&min_price=100&category=1">/products?organization=1&min_price=100&category=1</a>
  </p>
</p>
<p>
  Детальная информация по заведению:
  <p>
    Пример: <a href="/rest/organizations/1/">/rest/organizations/1/</a>
  </p>
</p>
<p>
  Детальная информация по товару\услуге:
  <p>
    Пример: <a href="/rest/products/1/">/rest/products/1/</a>
  </p>
</p>
</body>
</html>